tools/mpd/db
tools/mpd/log
tools/mpd/pid
tools/mpd/state
tools/ncmpcpp/error.log
tools/yazi/plugins
tools/yazi/package.toml
tools/glance/glance
tools/glance/glance.yml

fcitx5/rime/sync
fcitx5/rime/build
fcitx5/rime/user.yaml
fcitx5/rime/rime_ice.userdb
fcitx5/rime/custom_phrase.txt
fcitx5/rime/installation.yaml

