fish/fish_variables

tools/mpd/db
tools/mpd/log
tools/mpd/pid
tools/mpd/state
tools/ncmpcpp/error.log
tools/yazi/plugins
tools/yazi/package.toml
tools/glance/glance
tools/glance/glance.yml

rime/sync
rime/build
rime/user.yaml
rime/rime_ice.userdb
rime/custom_phrase.txt
rime/installation.yaml

