/*
 * margin: top right bottom left;
*/

* {
    font-size: 20px;
    font-family: monospace;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    text-shadow: none;
    background: #1E2732;
    border-radius: 20px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

/* waybar left */
.modules-left {

}

#custom-launcher {
    color: #6A92D7;
    margin: 0px 10px 0px 10px;
}

#cpu {
    color: #FB958B;
    margin: 0px 10px 0px 0px;
}

#memory {
    color: #EBCB8B;
    margin: 0px 10px 0px 0px;
}

#disk {
    margin: 0px 10px 0px 0px;
}

#workspaces {
}

#workspaces button {
    color: #7984A4;
    padding: 0 5px;
}

#workspaces button.active {
    color: #6A92D7;
}

#workspaces button.urgent {
    background-color: #EB4D4B;
}

/* waybar center */
.modules-center {

}

#custom-clock {
    color: #FFFFFF;
    margin: 0px 20px 0px 0px;
}

#mpd {
    margin: 0px 0px 0px 20px;
}

#mpd.playing {
    color: #69A794;
}

#mpd.paused {
    color: #6B798E;
}

/* waybar right */
.modules-right {

}

#keyboard-state {
    color: #97E1AD;
    margin: 0px 10px 0px 0px;
}

#tray menu {
    color: #5C6370;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#custom-screenshot {
    color: #FB958B;
    margin: 0px 10px 0px 10px;
}

#pulseaudio {
    color: #7D9BBA;
    margin: 0px 10px 0px 0px;
}

#bluetooth {
    color: #707D9D;
    margin: 0px 10px 0px 0px;
}

#bluetooth.disconnected {
    color: #F53C3C;
}

#network {
    color: #BBA1CB;
}

#network.disconnected {
    color: #BA5B49;
}

#battery {
    color: #98C379;
}

#battery.warning {
    color: #EBCB8B;
}

#battery.critical {
    color: #BA5B49;
}

#custom-power {
    color: #BA5B49;
}
