/*
 * margin: top right bottom left;
*/

* {
    font-size: 20px;
    font-family: monospace;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    text-shadow: none;
    background: #1E2732;
    border-radius: 20px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

/* waybar left */
.modules-left {

}

#custom-launcher {
    color: #6a92d7;
    margin: 0px 10px 0px 10px;
}

#cpu {
    color: #fb958b;
    margin: 0px 10px 0px 0px;
}

#memory {
    color: #ebcb8b;
    margin: 0px 10px 0px 0px;
}

#disk {
    margin: 0px 10px 0px 0px;
}

#workspaces {
}

#workspaces button {
    color: #7984A4;
    padding: 0 5px;
}

#workspaces button.active {
    color: #6a92d7;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* waybar center */
.modules-center {

}

#custom-clock {
    color: #ffffff;
    margin: 0px 20px 0px 0px;
}

#mpd {
    margin: 0px 0px 0px 20px;
}

#mpd.playing {
    color: #69a794;
}

#mpd.paused {
    color: #6B798E;
}

/* waybar right */
.modules-right {

}

#keyboard-state {
    color: #97e1ad;
    margin: 0px 10px 0px 0px;
}

#tray menu {
    color: #5C6370;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#custom-screenshot {
    color: #fb958b;
    margin: 0px 10px 0px 10px;
}

#pulseaudio {
    color: #7d9bba;
    margin: 0px 10px 0px 0px;
}

#bluetooth {
    color: #707d9d;
    margin: 0px 10px 0px 0px;
}

#bluetooth.disconnected {
    color: #f53c3c;
}

#network {
    color: #BBA1CB;
}

#network.disconnected {
    color: #BA5B49;
}

#custom-power {
    color: #BA5B49;
}
