# $HOME/.config/systemd/user/glance.service

[Unit]
Description=glance
After=graphical-session.target

[Service]
ExecStart=glance
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target
