[mgr]
ratio = [0, 2, 8]
sort_by = "extension"
sort_dir_first = true
linemode = "size"
show_hidden = true
show_symlink = true

[opener]
edit = [
    { run = "nvim %*", block = true, for = "windows" }
]

[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"
